{% extends 'base.html' %}

{% block content %}

<h1 class="display-6 text-center">Edit Your Image</h1>


<div class="container">
  <div class="row g-2">
    <div class="col-md-6 col-sm-12">
      <div class="border mr-1">
        <h2 class="text-center">Original Photo:</h2>
        <img src='{{og_image}}' width="100px" />
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="border ml-1">
        <h2 class="text-center">Filter: {{filter}}</h2>
        {% if encoded_image == None %}
        <img id="picture" src="{{ og_image }}" />
        {% else %}
        <img id="picture" src="data:image/jpeg;base64,{{ encoded_image }}" />
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container text-center p-3">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <form action="/edit/{{filename}}" method="get">
      <input type='radio' class="btn-check" name="filter" id="gray" value="gray">
      <label class="btn btn-outline-primary" for="gray">Gray</label>
      <input type='radio' class="btn-check" name="filter" id="sepia" value="sepia">
      <label class="btn btn-outline-primary" for="sepia">Sepia</label>
      <input type='radio' class="btn-check" name="filter" id="border" value="border">
      <label class="btn btn-outline-primary" for="border">Add Border</label>
      <input type='radio' class="btn-check" name="filter" id="resize" value="resize">
      <label class="btn btn-outline-primary" for="resize">Downsize</label>
      <input type='radio' class="btn-check" name="filter" id="random" value="random">
      <label class="btn btn-outline-primary" for="random">Random</label>
      <button class="btn btn-info">Add Filter</button>
    </form>
  </div>
</div>

<div class="container text-center">
  <form action="/edit/{{filename}}/{{filter}}" method="post">
    <div class="row">
      <label for="description">Describe your image so others may find it! (max 100 characters)</label>
      <br/>
      <input type="text" name="description" id="description" maxlength="100">
    </div>
    <div class="row mt-4"><button class="btn btn-primary">Publish</button></div>
  </form>
</div>



{% endblock %}