{% extends 'base.html' %}

{% block content %}

<h1 class="display-1 text-center">PIX.LY</h1>

<div class="container">
    <div class="row">
        <div class="col text-end mb-3">
            <a href="/search" class="btn btn-primary">Search</a>
        </div>
        <div class="col text-start mb-3">
            <a href="/upload" class="btn btn-primary">Upload</a>
        </div>
    </div>
</div>

<div class="container px-4">
    <div class="row gx-1">
        <div class="col-md-6 col-sm-12">
            {% for image in all_images %}
            {% if loop.index is odd() %}
            <img class='img-fluid p-3' src='{{image}}' />
            {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-6 col-sm-12">
            {% for image in all_images %}
            {% if loop.index is even() %}
            <img class='img-fluid p-3' src='{{image}}' />
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}